@import "../../../colors.scss";

.users{
    background-color: $rosy;
    min-height: calc(100vh - 56px);
}
.usersGroup{
    overflow-y: scroll;
    min-height: 600px;
    max-height: 700px;
    max-width: fit-content;
}