@import "../../colors.scss";
.nav{
    background-color: $darkViolet;
    width: 300px;
    min-height: calc(100vh - 56px);
}
.nav-link{
    color: $rosy;
    &:hover{
        color:white;
    }
}
.active, .active:focus{
    color: white;
}
